In [1]:
!pip install BeautifulSoup4
!pip install requests
!pip install lxml
!pip install html5lib

Requirement already satisfied: BeautifulSoup4 in c:\programdata\miniconda3\lib\site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\miniconda3\lib\site-packages (from BeautifulSoup4) (1.9.5)
Requirement already satisfied: requests in c:\programdata\miniconda3\lib\site-packages (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\miniconda3\lib\site-packages (from requests) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\miniconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\miniconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\miniconda3\lib\site-packages (from requests) (1.24.2)
Requirement already satisfied: lxml in c:\programdata\miniconda3\lib\site-packages (4.5.0)
Requirement already satisfied: html5lib in c:\programdata\miniconda3\lib\site-packages (1.0.1)
Requirement already satisfied: webencodings in c:\programdata\miniconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\miniconda3\lib\site-packages (from html5lib) (1.12.0)

In [2]:
import requests
import lxml.html as lh
import pandas as pd

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = requests.get(url)

doc = lh.fromstring(page.content)

tr_elements = doc.xpath('//tr')

[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [3]:
tr_elements = doc.xpath('//tr')
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [4]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    
    if len(T)!=3:
        break
    
    i=0
    
    for t in T.iterchildren():
        data=t.text_content() 

        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1
[len(C) for (title,C) in col]

[287, 287, 287]

In [5]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [6]:
df = df.replace('\n',' ', regex=True)
df.rename(columns = {"Neighbourhood\n" : "Neighbourhood"}, inplace = True)
df.head()

  Postcode           Borough      Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [7]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

df = df.reset_index(drop=True)

df.head(10)

  Postcode           Borough      Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A      Queen's Park      Not assigned
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

In [8]:


df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode      Borough                                     Neighbourhood
0      M1B  Scarborough                                   Rouge ,Malvern
1      M1C  Scarborough           Highland Creek ,Rouge Hill ,Port Union
2      M1E  Scarborough                Guildwood ,Morningside ,West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park ,Ionview ,Kennedy Park
7      M1L  Scarborough                  Clairlea ,Golden Mile ,Oakridge
8      M1M  Scarborough  Cliffcrest ,Cliffside ,Scarborough Village West
9      M1N  Scarborough                      Birch Cliff ,Cliffside West

In [9]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']
print(df)

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                    Rouge ,Malvern
1        M1C  Scarborough            Highland Creek ,Rouge Hill ,Port Union
2        M1E  Scarborough                 Guildwood ,Morningside ,West Hill
3        M1G  Scarborough                                            Woburn
4        M1H  Scarborough                                         Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                            Weston
99       M9P    Etobicoke                                         Westmount
100      M9R    Etobicoke  Kingsview Village ,Martin Grove Gardens ,Richv...
101      M9V    Etobicoke  Albion Gardens ,Beaumond Heights ,Humbergate ,...
102      M9W    Etobicoke                                         Northwest

[103 rows x 3 columns]